:root   {
    --primary-color: #6563ff;
    --secondary-color: black;
}
body    {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-family: 'Staatliches', cursive;
    font-weight: 700;
    color: var(--secondary-color);
}
nav {
    color: var(--secondary-color);
}
h1      {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}
h2      {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);;
}
h3      {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
}
a:link       {
    color: var(--primary-color)
}
a:visited   {
    /* selected link*/
    color: var(--secondary-color);
}
a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:active    {
    /* selected linked*/
    color: var(--primary-color);;
}
button, .button  {
    /* overwrites broswe defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    /* adds spacing to the button (this will be discussed in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition: opacity 0.5s;
}
button:hover, button:focus, .button:hover, .button:focus  {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.9;
}
.button_secondary   {
    background-color: white;
    color: var(--primary-color);;
}
.cv-button {
    text-align: center ;
    margin: 20px;
}
.navigation-list__item--active  {
    text-decoration: none;
    color: var(--primary-color);
}
.navigation-list__item  {
    color: black;
}
.profile__portrait  {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 20%;
}
.profile    {
    max-width: 700px;
    margin: 100px auto;
}
.profilecentre  {
    display: grid;
    grid-template-columns: auto auto;
}
*   {
    box-sizing: border-box;
}
.page-footer    {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    position:relative;
    bottom: 100%;
    clear: both;
}
.page-header    {
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.navigation-list    {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin: 15px;
}
.grid__item {
    display: inline-block;
    width: 33%;
}
@supports   (display: grid)    {
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 100px;
}
}
.grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 50px;
}
.centre_aligned_header {
    text-align: center;
}
.centre_aligned_text    {
    text-align: center;
    margin: 0px 100px;
}
.centre_table {
    max-width: 700px;
    margin: 0 auto;
}
@media all and (max-width: 500px)   {
    .grid   {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px)    {
        .grid   {
            grid-template-columns: 1fr 1fr;
        }
}
@media all and (max-width: 750px)    {
    .grid   {
        grid-gap: 10px
    }
    .grid__item:last-child    {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1  {
        font-size: 22px;
    }
}
.londoncity  {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 10%;
}
.centrelist {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}
@keyframes colour-change    {
    0%    {
        fill: #fcffad
    }
    50% {
        fill: #edc655;
    }
    100%  {
        fill: #f76414;
    }
}
.sun {
    animation-duration: 4s;
    animation-name: colour-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes  cloud-move  {
    from    {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
.cloud-front    {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move-reverse   {
    from    {
        transform: translate(446px, 48px)
    }
    to  {
        transform: translate(100px, 48px)
    }
}
.cloud-back {
    animation: 30s cloud-move-reverse infinite alternate linear; 
}
span    {
    color: var(--primary-color);;
}
.logoname   {
    font-size: 30px;
}
.contact-main   {
    text-align: center;
}